tests/tasks/atc_lab-2006-05.xsd

<?xml version="1.0"?>

<xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      targetNamespace="http://www.humanfactors.uq.edu.au/atc/2006/atc-ns"
      xmlns:atc="http://www.humanfactors.uq.edu.au/atc/2006/atc-ns"
      attributeFormDefault="qualified"
      elementFormDefault="qualified"
>

<!--
      ****************************************
      ****  Documentation                *****
      ****************************************
 -->

  <xs:annotation>
    <xs:documentation>
      <![CDATA[
      @project  : ATC-Lab

      @file     : $RCSfile$
      @author   : $Author$
      @version  : $Name$ ( $Revision$ )
      @date     : $Date$
      @state    : $State$

      $Log$

      @copyright  : 2006 ARC Key Center for 
                    Human Factors & Applied Cognitive Psycology
      ]]>
    </xs:documentation>
  </xs:annotation>

<!--
      ****************************************
      ****  <atc:experiment>             *****
      ****************************************
 -->

  <xs:element name="experiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="config"       type="atc:configSection"      />
        <xs:element name="data"         type="atc:dataSection"        />
        <xs:element name="presentation" type="atc:presentationSection"/>
      </xs:sequence>
      <xs:attribute ref="atc:idx" use="required"/>
    </xs:complexType>
  </xs:element>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:config> type definition                     +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:complexType name="configSection">
    <xs:sequence>
      <xs:element name="units">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="input" type="xs:token"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="aircraftParam" minOccurs="0" maxOccurs="unbounded" type="atc:aircraftParamDef"/>
      <xs:element name="instruction"   minOccurs="0" maxOccurs="unbounded" type="atc:instructionDef"  />
      <xs:element name="question"      minOccurs="0" maxOccurs="unbounded" type="atc:questionDef"     />
    </xs:sequence>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:aircraftParam> type definition              +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:complexType name="aircraftParamDef">
    <xs:sequence>
      <xs:element name="speed" minOccurs="0" type="xs:decimal"/>
      <xs:element name="level" minOccurs="0" type="xs:decimal"/>
      <xs:element name="RoC" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="minLevel" default="0" type="xs:decimal"/>
              <xs:attribute name="maxLevel" default="0" type="xs:decimal"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:instruction> type definition                +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="instructionDef">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="keyEvent" minOccurs="0" maxOccurs="unbounded" type="xs:token"/>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:question> type definition                   +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="questionDef">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="scale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="min" type="xs:integer"/>
            <xs:element name="max" type="xs:integer"/> 
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:data> type definition                       +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:complexType name="dataSection">
    <xs:sequence>
      <xs:element name="param" minOccurs="0" maxOccurs="unbounded" type="atc:paramDefinition"/>
      <xs:element name="map"   minOccurs="1" maxOccurs="unbounded" type="atc:mapDefinition"  />
      <xs:element name="sky"   minOccurs="0" maxOccurs="unbounded" type="atc:skyDefinition"  />
      <xs:element name="ui"    minOccurs="0" maxOccurs="unbounded" type="atc:uiDefinition"   />
    </xs:sequence>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:param> type definition                      +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="paramDefinition">
    <xs:choice minOccurs='0' maxOccurs='unbounded'>
      <xs:element name="update_rate"       minOccurs="0" maxOccurs="1" type="xs:unsignedInt"/>
<!--       <xs:element name="update_multiplier" minOccurs="0" maxOccurs="1" type="xs:unsignedInt"/>  -->
      <xs:element name="scenario_tester"   minOccurs="0" maxOccurs="1" type="xs:unsignedInt"/>

      <xs:element name="counter_format"    minOccurs="0" maxOccurs="1" type="xs:string"/>

      <xs:element name="horizontal_doms"   minOccurs="0" maxOccurs="1" type="xs:decimal"/>
      <xs:element name="vertical_doms"     minOccurs="0" maxOccurs="1" type="xs:decimal"/>

      <xs:element name="cs_none_colour"     minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_annonced_colour" minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_accepted_colour" minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_handoff_colour"  minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_nomore_colour"   minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_overout_colour"  minOccurs="0" maxOccurs="1" type="atc:colourType" />
      <xs:element name="cs_proposed_colour" minOccurs="0" maxOccurs="1" type="atc:colourType" />

    </xs:choice>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>

  <xs:complexType name="colourType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="blink" use="optional" default="no">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="yes"    />
              <xs:enumeration value="no"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:map> type definition                        +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="mapDefinition">
    <xs:sequence>
      <xs:element name="region"                                       type="atc:regionElement"  />
      <xs:element name="location" minOccurs="0" maxOccurs="unbounded" type="atc:locationElement"/>
      <xs:element name="route"    minOccurs="0" maxOccurs="unbounded" type="atc:routeElement"   />
      <xs:element name="sector"   minOccurs="0" maxOccurs="unbounded" type="atc:sectorElement"  />
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:region> type definition                     +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="regionElement">
    <xs:complexContent>
      <xs:extension base="atc:point2D">
        <xs:attribute name="x_dim" use="required" type="xs:decimal"/>
        <xs:attribute name="y_dim" use="required" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:location> type definition                   +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="locationElement">
    <xs:complexContent>
      <xs:extension base="atc:point2D">
        <xs:attribute ref="atc:idx" use="required"/>
        <xs:attribute name="visible" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:route> type definition                      +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="routeElement">
    <xs:sequence>
      <xs:group ref="atc:routeDescriptor" minOccurs="2" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  route descriptor group                             ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:group name="routeDescriptor">
    <xs:choice>
      <xs:element name="point" type="atc:point2D"/>
      <xs:element name="pointref">
        <xs:complexType>
          <xs:attribute name="location" type="xs:IDREF"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:sector> type definition                      ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:complexType name="sectorElement">
    <xs:complexContent>
      <xs:extension base="atc:region2D">
        <xs:attribute name="status" use="optional" default="non-active">
          <xs:simpleType>
            <xs:restriction base="xs:NCName">
              <xs:enumeration value="active"    />
              <xs:enumeration value="non-active"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:sky> type definition                         ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="skyDefinition">
    <xs:sequence>
      <xs:element name="aircraft" minOccurs="0" maxOccurs="unbounded" type="atc:aircraftElement"/>
      <xs:element name="area"     minOccurs="0" maxOccurs="unbounded" type="atc:areaElement"    />
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:aircraft> type definition                    ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="aircraftElement">
    <xs:sequence>
      <xs:element name="start" minOccurs="0" type="xs:integer"/>
      <xs:element name="altitude" minOccurs="0" type="xs:decimal"/>
      <xs:element name="velocity" minOccurs="0" type="xs:decimal"/>
      <xs:element name="flightpath">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="point" minOccurs="2" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="atc:point2D">
                    <xs:sequence>
                      <xs:element name="altitude" minOccurs="0" type="xs:decimal"/>
                      <xs:element name="ascent" minOccurs="0" type="xs:decimal"/>
                      <xs:element name="velocity"  minOccurs="0" type="xs:decimal"/>
                      <xs:element name="acceleration"  minOccurs="0" type="xs:decimal"/>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="closedpath" minOccurs="0"/>
    </xs:sequence>
 <!--   <xs:attribute ref="atc:idx" use="required"/> -->
    <xs:attribute name="idx" type="xs:string"/>
    <xs:attribute name="type" type="xs:IDREF"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:area> type definition                        ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="areaElement">
    <xs:complexContent>
      <xs:extension base="atc:region2D">
        <xs:attribute name="type" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- ======================================================= UI Definition -->

  <xs:complexType name="uiDefinition">
    <xs:sequence>
      <xs:element name="widget" maxOccurs="unbounded" type="atc:widgetDefinition"/>
      <xs:element name="connection" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="signal">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:NCName">
                  <!-- enumeration of valid signals -->
                    <xs:attribute name="tx" type="xs:IDREF"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="slot" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:NCName">
                  <!-- enumeration of valid slots -->
                    <xs:attribute name="rx" type="xs:IDREF"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="widgetDefinition">
    <xs:sequence>
      <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <!-- @todo: enumerate valid properties? -->
            <xs:any processContents="lax"/>
          </xs:sequence>
          <xs:attribute name="name" use="required" type="xs:NCName"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="layout" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="atc:layoutElement" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:NCName">
                <xs:enumeration value="hbox"/>
                <xs:enumeration value="vbox"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="margin" default="0" type="xs:nonNegativeInteger"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="class" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NCName">
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="frame"/>
          <xs:enumeration value="label"/>
          <xs:enumeration value="pushbutton"/>
          <xs:enumeration value="textline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" use="required" type="xs:ID"/>
  </xs:complexType>

  <!--
      layoutElement
  -->
  <xs:group name="layoutElement">
    <xs:choice>
      <xs:element name="widget" type="atc:widgetDefinition"/>
      <xs:element name="space" default="10" type="xs:unsignedInt"/>
      <xs:element name="stretch" default="0" type="xs:unsignedInt"/>
    </xs:choice>
  </xs:group>


  <!-- ================================================== Presentation Items -->
  <!-- ===================================================================== -->
  
  <xs:complexType name="presentationSection">
    <xs:sequence>
      <xs:element name="phase" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="atc:phaseDescriptor" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute ref="atc:idx" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--
      phaseDescriptor
  -->
  <xs:group name="phaseDescriptor">
    <xs:choice>
      <xs:element name="instruction">
        <xs:complexType>
          <xs:attribute name="idxref" type="xs:IDREF"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="question">
        <xs:complexType>
          <xs:attribute name="idxref" type="xs:IDREF"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="trial">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="keyEvent" minOccurs="0" maxOccurs="unbounded" type="xs:token"/>
            <xs:element name="timeEvent" minOccurs="0" type="xs:positiveInteger"/>
          </xs:sequence>
          <xs:attribute ref="atc:idx" use="required"/>
          <xs:attribute name="param" use="required" type="xs:IDREF"/>
          <xs:attribute name="map" use="required" type="xs:IDREF"/>
          <xs:attribute name="sky" use="required" type="xs:IDREF"/>
          <xs:attribute name="ui" type="xs:IDREF"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
                

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:idx attribute type definition                 ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:attribute name="idx" type="xs:ID"/>
  
<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:point2D type definition                      +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="point2D">
    <xs:attribute name="x" use="required" type="xs:decimal"/>
    <xs:attribute name="y" use="required" type="xs:decimal"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:arc2D type definition                        +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="arc2D">
    <xs:complexContent>
      <xs:extension base="atc:point2D">
        <xs:attribute name="r" use="optional" type="xs:decimal"/>
        <xs:attribute name="a" use="optional" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:ellipse2Dtype definition                     +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="ellipse2D">
    <xs:complexContent>
      <xs:extension base="atc:point2D">
        <xs:attribute name="w" use="required" type="xs:decimal"/>
        <xs:attribute name="h" use="required" type="xs:decimal"/>
        <xs:attribute name="a" use="required" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:region2D type definition                     +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name="region2D">
    <xs:sequence>
      <xs:group ref="atc:region_descriptor" maxOccurs="unbounded"/>
      <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="idxref" use="required" type="xs:IDREF"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="atc:idx" use="required"/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:region_descriptor group definition            ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:group name="region_descriptor">
    <xs:choice>
      <xs:element name="vertex"  type="atc:point2D"   />
      <xs:element name="arc"     type="atc:arc2D"     />
      <xs:element name="ellipse" type="atc:ellipse2D" />
    </xs:choice>
  </xs:group>


</xs:schema>
